#header
{
  height: 600px;
}

#menu
{
  height: 100px;
}

#devantpc
{
  margin-bottom: 10px;
}
.barremenu
{
    width: 200px;
}
#menu li
{
	margin-left: 60px;
	margin-right: 60px;
  font-size: 30px;
  margin-top: -11px;
}


html, body {
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}
.titreetapes
{
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listeetapes p
{
  width: 360px;
  font-size: 20px;
}
#stats
{
  height: 800px;
}
.logotechno
{
  width: 80px;
}
.divtechno
{
  width: 200px;
}
#logojs
{
  width: 100px;
}
#logojquery
{
  width: 100px;
}
#html
{
  margin-right: 0px;
}
#css
{
  margin-left: 0px;
}
#lientel, #lienmail
{
  font-size: 30px;
}
