/* COLORS THEME:
white to green:
#FCFFF5
#D1DBBD
#91AA9D
#3E606F
#193441 */

/* POLICES */

@font-face
{
	font-family: 'ralewayMedium';

    src: url('Raleway-Medium.ttf');
}
@font-face
{
	font-family: 'latoLight';

    src: url('Lato-Light.ttf');
}

@font-face
{
	font-family: 'robotoThin';

    src: url('Roboto-Thin.ttf');
}
@font-face
{
	font-family: 'robotoMedium';

    src: url('Raleway-Medium.ttf');
}

/* KEYFRAMES */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(252, 255, 245, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(252, 255, 245, 0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(252, 255, 245, 0.6);
		transform: translatey(0px);
	}
}
@keyframes changetext {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	33% {
		opacity: 0;
		transform: translateY(-20px);
	}
	66%{
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -8px); }
    to   { transform: translate(0, -0px); }
}

@keyframes fadedown {
 from {
	 margin-top: 30px;
 }

 to {
	 margin-top: 0px;
 }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #91AA9D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3E606F;
}

/* Loader */
html {
    height: 100%;
}

.loader
{
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#img-loader
{
	height: 200px;
	width: auto;
}

/* BLOC GENERAL */
#main
{
	background-color: white;
	display: flex;
  flex-direction: column;
}
.reset_arrow
{
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: white;
	z-index: 9000;
	transition: 0.6s;
	cursor: pointer;
}
.display_none
{
	display: none;
}
.row
{
  display: flex;
  min-height: 30rem;
	align-items: center;
	padding-top: 1rem;
}
.hidden
{
	opacity: 0;
}
.div_techno
{
	margin: 5rem 0;
}
.flex-column
{
  flex-direction: column;
}

.step-content
{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
	justify-content: center;
	margin: 1rem 2rem;
}
.step-content-bloc
{
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  align-items: center;
	padding: 1rem 1rem;
}
.step-content-bloc-text
{
  font-size: 1.2rem;
	text-align: center;
	font-family: "latoLight",Arial,Helvetica,sans-serif;
	color: #91AA9D;
}
.d-flex
{
  display: flex;
}
.center
{
	justify-content: center;
}
.main-title-part-1
{
  font-size: 3rem;
  font-family: "ralewayMedium";
	color: #D1DBBD;
	margin: 2rem 0;
}
.main-title-part-2
{
  font-size: 3rem;
  font-family: "ralewayMedium";
	color: #193441;
	margin: 2rem 0;
}
.second-title-part-1
{
	font-size: 3rem;
	font-family: "robotoThin";
	color: #D1DBBD;
	margin: 1rem 0;
}
.second-title-part-2
{
	font-size: 2rem;
	font-family: "robotoThin";
	color: #193441;
	margin: 0.8rem 0;
}
.i_blue
{
	color: #3E606F;
}

.separation
{
	width: 50px;
	height: 5px;
	background-color: #D1DBBD;
	z-index: 1000;
	margin: 0 5rem;
	transition: width 0.5s;
}
.separation_open
{
	width: 200px;
}

/* SPECIFIC */



/* OPEN ROW */

#div-white-arrow
{
	cursor: pointer;
}

#h1
{
  font-size: 4.5rem;
  font-family: "robotoMedium";
}
.alth1
{
  font-size: 1.5rem;
  font-family: "robotoThin";
  margin-left: "30px";
	padding: 0.5rem 0;
}
#openrow
{
  background-image: url("../images/dev.jpg");
  background-position: bottom;
  background-size: cover;
  height: 50rem;
  color: #FCFFF5;
	align-items: center
}
#divfortitle
{
  align-items: center;
  text-align: center;
  margin: 9rem 0;
}
#hrfortitle
{
  height: 2px;
  width: 50%;
  margin: 1rem 0;
  background-color: #FCFFF5;
}
#whitearrow
{
	width: 3rem;
	height: auto;
	animation-duration: 0.3s;
 	animation-name: fadedown;
 	animation-iteration-count: infinite;
 	animation-direction: alternate;
}

/* ROW 1 */

#row1
{
  background-color: #193441;
	position: relative;
}

/* ROW 2 */

#row2
{
	background-color: #3E606F;
	position: relative;
}
#row2h1
{
	margin-bottom: 7rem;
}

#alert-carousel
{
	position: absolute;
	bottom: 1rem;
	font-size: 1rem;
	font-family: "ralewayMedium";
	padding: 0 2rem;
	text-align: center;
}

#text-alert-carousel
{
	margin-top: 15px;
}
#img-alert-carousel
{
	color: #FCFFF5;
	margin-right: 1rem;
	transition: color 0.5s;
}
#img-alert-carousel:hover
{
	color: red;
}

/* 3D CAROUSEL */

.container {
  margin: 0 auto;
  width: 200px;
  height: 150px;
  position: relative;
  perspective: 1000px;
	z-index: 4;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.item {
  display: flex;
	flex-direction: column;
  position: absolute;
	cursor: pointer;
  background: #000;
  width: 200px;
  height: 150px;
  line-height: 60px;
  font-size: 2em;
  text-align: center;
  color: #FFF;
  opacity: 0.96;
  border-radius: 10px;
	padding-top: 1.5rem;
	font-family: "robotoThin";
	transition: background-color 0.5s;
}
.item:hover
{
	background-color: #24495b;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #193441;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #193441;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #193441;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #193441;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #193441;
}
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #193441;
}

.next, .prev, .prev_loisirs, .next_loisirs {
  cursor: pointer;
	transition: margin-top 0.1s;
}
.carousel-arrow
{
	color: #FCFFF5;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active, .prev_loisirs:active, .next_loisirs:active {
  margin-top: 10px;
}
.next { margin-left: 25em; }
.prev { margin-right: 25em; }
#contain-arrow
{
	position: absolute;
	top: 14rem;
}
#skills-mobile
{
	display: none;
	margin-bottom: 6rem;
	align-items: center;
	flex-direction: column;
	width: 200px;
	text-align: center;
}
.skills-mobile-img
{
	color: black;
}

/* ROW 3*/
.step-content-bloc-portfolio
{
	position: relative;
	margin: 1rem 1rem;
	cursor: pointer;
	overflow: hidden;
	width: 500px;
	height: 250px;
	border-radius: 15px;
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
}
#row3
{
	background-color: #91AA9D;
}
.images-portfolio
{
	height: 100%;
	width: 100%;
	border-radius: 15px;
	transition: transform 0.4s, opacity 0.4s;
	opacity: 0.7;
}
.images-portfolio:hover
{
		webkit-transform : rotate(8deg) scale(1.3); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(8deg) scale(1.3); /* IE 9 */
    transform         : rotate(8deg) scale(1.3); /* Firefox 16+, IE 10+, Opera */
		opacity:1;
}

/* rowobjectifs */

#rowobjectifs
{
	background: url("../images/objectifs.jpg") no-repeat fixed;
	background-size: cover;
	background-position: bottom;
}
.h2-objectifs
{
	font-size: 4.5rem;
	font-family: "ralewayMedium";
	color: #f3f6ef;
	white-space: nowrap;
}
.div-h2-objectifs
{
	align-items: center;
	z-index: 2;
}

/* articleobjectifs */

#articleobjectifs
{
	background-color: black;
	min-height: 35rem;
	justify-content: center;
	display: flex;
}
#container_carousel_description
{
  display: flex;
	width: 100%;
	justify-content: center;
}
#container_icons_description
{
	display: flex;
	flex-direction: column;
	margin: 2rem 1rem;
}
.text_container
{
	display: flex;
	align-items: center;
	width: 70rem;
}
.div_carousel_container
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	flex-wrap: wrap;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.desc_content
{
	color: #1E9682;
	font-family: "latoLight";
	font-weight: bold;
	text-align: center;
  margin: 2rem 0;
  font-size: 1.5rem;
	white-space: nowrap;
}
.text_container_changing
{
	animation-name: changetext;
	animation-duration: 1s;
}
.icons_description
{
	color: #D1DBBD;
	align-items: center;
	margin: 1rem 2rem;
}
.icon_div
{
	transition: transform 0.5s, color 0.2s;
}
.icon_div_clicked
{
	transform: rotate(13deg);
}
.icon_svg_clicked
{
	fill: #62733f !important;
}
.icons_about
{
	animation: floating 4s ease-in-out infinite;
	transition: fill 0.5s;
	height: 100px;
	fill: #D1DBBD;
}
.icons_about:hover
{
	cursor: pointer;
	fill: #62733f;
}
.h3_description
{
	font-size: 1.5rem;
	color: white;
	font-family: "robotoThin";
	text-align: center;
	padding: 1rem 0;
}
.title_opening
{
	font-size: 5rem;
	color: white;
	font-weight: bold;
	font-family: "robotoThin";
	margin-bottom: 50px;
	white-space: nowrap;
	text-align: center;
}
.text_opening
{
	font-size: 2.5rem;
	color:#62733f;
	font-family: "latoLight",Arial,Helvetica,sans-serif;
	margin: 0 2rem;
	display: flex;
	align-items: flex-end;
	text-align: center;
}
.title_carousel
{
	font-size: 3.5rem;
	color: white;
	font-weight: bold;
	font-family: "robotoThin";
	margin-bottom: 50px;
	white-space: nowrap;
	text-align: center;
}
.strong_carousel
{
	font-weight: bold;
	color: #62733f;
}
.separation_carousel
{
	height: 200px;
	width: 5px;
	background-color: #62733f;
	margin: 0 2rem;
}
#oclock
{
	cursor: pointer;
}
.text_carousel
{
	font-size: 1.9rem;
	color:white;
	font-family: "latoLight",Arial,Helvetica,sans-serif;
	margin: 0 2rem;
	align-items: flex-end;
	text-align: justify;
	max-width: 33rem;
}
.arrows_carousel_loisirs
{
	color: white;
}
#container_loisirs_carousel
{
	width: 15rem;
	margin: 0 auto;
	overflow: hidden;
}
/* ROW 5 */

#row4
{
	background-color: #f3f6ef;
}
#lienmail, #lientel
{
	font-size: 4rem;
	font-family: "latoLight";
	color: #3E606F;
	cursor: pointer;
	transition: color 0.3s, text-decoration 3s;
	margin: 2rem 3rem;
}
#lienmail:hover, #lientel:hover
{
	color: #6d99ab;
}
iframe
{
	filter: grayscale(80%);
	width: 100%;
	height: 30rem;
}
.step-contact
{
	display: flex;
	flex-direction: column;
	margin: 4rem 2rem;
	align-items: center;
}

/* ROW 5 FOOTER*/
footer
{
	align-items: center;
	height:10rem;
	background-color: #262626;
}
#mentions-footer
{
	color:#D1DBBD;
	font-family: "ralewayMedium";
}
.socialfooter
{
	color: #D1DBBD;
	margin: 2rem 1rem;
	cursor: pointer;
	transition: transfrom 0.5s;
}
.socialfooter:hover
{
	animation-name: shake;
	animation-duration: 1s;
}
.footer-a
{
	cursor: default;
}
#heart-footer
{
	color: #D1DBBD;
}
#row5
{
	background-color: #FCFFF5;
}

/* MEDIA QUERIES */

/* Laptop */

@media screen and (max-width: 1430px) {
	.separation_carousel
	{
		display: none;
	}
	.separation
	{
		display: none;
	}
}

/* Tablet */

@media screen and (max-width: 950px) {
	.text_carousel
	{
		font-size: 1.4rem;
	}
	.desc_content
	{
		font-size: 1.2rem;
	}
	#container_loisirs_carousel
	{
		width: 10rem;
	}
	.next
	{
		margin-left: 18em;
	}
	.prev
	{
		 margin-right: 18em;
	}
	.item
	{
	  width: 180px;
	  height: 130px;
	  line-height: 60px;
	  font-size: 1.5em;
	}
	.container
	{
		width: 180px;
	  height: 130px;
	}
	#lienmail, #lientel
	{
		font-size: 2.5rem;
	}
	#row3
	{
		margin-bottom: 0px;
	}
}

/* Mobile */

@media screen and (max-width: 715px) {
	.h2-objectifs
	{
		font-size: 1.9rem;
	}
	#container_loisirs_carousel
	 {
		 width: 4rem;
	 }
	.title_opening, .title_carousel
	{
		font-size: 1.8rem;
		margin-bottom: 15px;
		white-space: normal;
	}
	.text_opening, .text_carousel
	{
		font-size: 1rem;
		margin: 0;
		margin-right: 0.2rem;
	}
	.desc_content
	{
		margin: 1rem 0;
		white-space: normal;
		font-size: 0.8rem;
	}
	.icons_description
	{
		margin: 0.5rem;
	}
	.icons_about
	{
		height: 40px;
	}
	.h3_description
	{
		padding: 0.3rem 0;
		font-size: 1rem;
	}
	#container_icons_description
	{
		margin: 0;
	}
	#img-loader
	{
		height: 100px;
		margin-top: 150px;
	}
	#contain-arrow
	{
		display: none;
	}
	.item
	{
	  width: 130px;
	  height: 80px;
	  line-height: 60px;
	  font-size: 1.5em;
	}
	.container
	{
		display: none;
	}
	#lienmail, #lientel
	{
		font-size: 1.4rem;
		margin: 1rem 0rem;
		text-decoration: underline;
	}
	.step-content-bloc-portfolio
	{
		width: 250px;
		height: 125px;
	}
	.step-contact
	{
		margin: 1rem 0rem;
		flex-direction: column;
	}
	#mentions-footer
	{
		font-size: 13px;
		text-align: center;
	}
	#h1
	{
		font-size: 3.5rem;
	}
	#step-content-portfolio
	{
		margin: 1rem 0rem;
	}
	#alth1
	{
		font-size: 1rem;
	}
	#text-alert-carousel
	{
		padding: 0 1rem;
	}
	#img-alert-carousel
	{
		position: absolute;
		left: 5px;
	}

	#skills-mobile
	{
		display: block;
	}
	#row2h1
	{
		margin-bottom: 3rem;
	}
	.main-title-part-1, .main-title-part-2
	{
		font-size: 2.5rem;
	}
	.step-content-block-text
	{
		font-size: 1rem;
	}
	.step-content-bloc
	{
		padding: 2rem 1rem;
	}

	#row4
	{
		min-height: 20rem;
	}
}
