@import '../../../../style/vars.scss';

#whatcanyoudo {
  .skill {
    max-width: 300px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text{
    font-size: 1.1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  // #skills border style

  .skills {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .skills:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
  }
  .skills:before{
    animation: animate 1s linear forwards;
  }
  @keyframes animate{
    0%{
      width: 0;
      height: 0;
      border-top-color: white;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    50%{
      width: 100%;
      height: 0;
      border-top-color: white;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: white;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: white;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: white;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .skills:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
  }
  .skills:after{
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
  }
  @keyframes animate2{
    0%{
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: white;
      border-right-color: transparent;
    }
    50%{
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-bottom-color: white;
      border-left-color: white;
      border-right-color: transparent;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-bottom-color: white;
      border-left-color: white;
      border-right-color: transparent;
    }
  }
  // BUTTON STYLING

  .btn {
    position: relative;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
    span {
      transition: all 0.3s;
      transform: scale(1, 1);
      font-size: 1.1rem;
    }
  }

  .btn::before,
  .btn::after {
    content: "";
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .btn-one::before {
    left: 4px;
    z-index: 1;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 1);
  }

  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }

  .btn-one::after {
    transition: all 0.3s;
    border: 1px solid $orange;
  }

  .btn-one:hover::after {
    transform: scale(1, 0.1);
    opacity: 0;
  }
}
