#about {
  .about-container {
    &:after {
      content: none;
    }
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
    p, h3 {
      text-align: left;
    }
    display: flex !important;
    justify-content: space-around;

    div {
      width: 45%;
      text-align: center;
      overflow-y: auto;
      max-height: 100%;
      div {
        width: 100%;
      }
    }
  }
}