@import "src/style/vars";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  .swal2-styled {
    background-color: $orange !important;
  }

  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
    background: $orange !important;
  }

  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
    background: $orange-opaque;
  }

  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step {
    background: $orange-opaque;
    color: #fff;
  }

  .swal2-progress-steps .swal2-progress-step-line {
    background: $orange;
  }

  .swal2-progress-steps .swal2-progress-step {
    border-radius: 2em;
    background: $orange;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $orange;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175);
  }
}

.app {
  position: absolute;
  width: 100%;
}
