@import '../../style/vars.scss';
#contact {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  #contact-button {
    transition: .4s;
    position: relative;
  }
  
  .social-medias {
    display: flex;
    flex-direction: column;
  }

  .button {
    border-radius: 50%;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &.open > svg:nth-child(1) {
      opacity: 1;
    }
    &.open > svg:nth-child(2) {
      opacity: 0;
    }
    & > svg:nth-child(2) {
      opacity: 1;
    }
    svg {
      pointer-events: none;
      transform: rotate(90deg);
      transition: .4s;
      opacity: 0;
      position: absolute;
    }
  }
  .contact-element {
    margin-bottom: 20px;
    z-index: 20;
    .social-media {
      color: $orange;
    }
  }
}