@import 'src/style/vars';
@keyframes open {
  from {
    width: 0%
  }
  to {
    width: 40%;
  }
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  .title {
    bottom: 0;
    height: 100%;
    position: absolute;
    margin-left: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    color: white;
    text-align: center;
    height: max-content;
    hr {
      opacity: 0;
      &.open {
        opacity: 1;
        width: 40%;
        animation: open 1s ease-in-out;
      }
    }
    h1 {
      font-size:90px;
      font-weight: 100;
      letter-spacing: -5px;
    }
  }
  .background {
    background-position: top;
    background-size: cover;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    filter: brightness(90%);
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin: 2rem auto;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
}