@import '../../style/vars.scss';

#mainbloc {
  width: 100%;
  height: 100vh;
  background-color: $blue-darken;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(15, 22, 39,1) 20%);
  margin-top: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.7s ease-in-out;
  position: relative;
  .content-container {
    height: 90%;
    width: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    color: white;
  }
  &.open {
    margin-top: 0;
  }
  h1 {
    color:white;
    display: none;
    text-align: center;
  }
}