#technologies {
  .technologies-container {
    display: flex;
    justify-content: space-between;
  }
  .technologies, .tools, .main-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 45%;
    padding-top: 40px;
    .technology, .tool {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 110px;
      p {
        font-size: 15px
      }
    }
    .technologies, .main-tools {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;

    img {
      filter: brightness(0) invert(1);
      max-width: 60px;
    }
  }
}
